<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Correct path: point to the bootstrap CSS inside the static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">
    
    <title>Document</title>

</head>
<body>
    
    <h1>Welcome Nahum To my Flask App!</h1>
    <p>This page was loaded from an html template!</p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WANDR</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link "href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#">Challenge us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#">Previous Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="#">Scheduled Games</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    
</body>
</html>